@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Bebas+Neue&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'ABeeZee', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background-color: #101820;
}

header {
    width: 100%;
    height: 80px;
    background: #dfca13;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px 0 50px;
    /* border-radius: 100px; */
    position: fixed;
    z-index: 999;
    /* margin: 40px 5% 0 5%; */
}
.main{
    width: 100%;
    min-height: 90vh;
    padding-top: 150px;
    display: flex;
    flex-direction: row;
}
.logo img{
    width: 80px;
}
.back-arrow{
    padding-right: 40px;
    width: 30px;
    height: 30px;
    color: #101820;
    padding-bottom: 10px;
    cursor: pointer;
}
.hamburger {
    display: none;
}

.nav-bar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.nav-bar ul li{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar ul li a, .fa-user, #logout  {
    color: #101820;
    font-size: 20px;
    padding: 10px 25px;
    transition: 0.2s;
    text-decoration: none;
}

.nav-bar ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #101820;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-bar ul li a:hover::after{
    width: 100%;
}

.nav-bar ul li a:hover{
    color: #101820;
}

@media (max-width: 90vh) {
    nav {
        min-height: 5vh;
        top: 20px;
    }

    .navbar .navbar-toggler {
        color: white;
        border: none;
        font-size: 40px;
    }

    #user {
        margin-left: 10px;
        font-size: 40px;
        color: white;
    }

    #logo {
        width: 90px;
    }

    .navbar .navbar-nav .nav-link,.navbar .navbar-brand {
        font-size: 30px;
    }

}

.photo{
    display: flex;
    width: 100%;
    height: 100%;
}

.request_details {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    color: #fefefe;
}

.request_details p {
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 50px;
}

.request_details p a {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.1em;
}

a {
    text-decoration: none;
    color: #fefefe;
}

a:hover {
    color: #FEE715;
}


table {
    color: #f2f2f2;
    border-collapse: collapse;
    border: 2px solid #fee715;
    width: 90%;

    margin-bottom: 50px;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    color: #11101b;
    background-color: #fee715;
    font-weight: bold;
}

tr:nth-child(even) {
    border: 2px solid #fee715;
    background-color: #11101b;
}

input[type="submit"] {
    width: 80px;
	height: 30px;
	background: #FEE715;
	border-radius: 30px;
	font-family: 'Bebas Neue', cursive;
	font-size: 20px;
	cursor: pointer;
}
