@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Bebas+Neue&display=swap');

/* 
Font family: -
font-family: 'ABeeZee', sans-serif;
font-family: 'Bebas Neue', cursive;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
	background-color: #FEE715;
	width: 100%;
	z-index: 999;
	height: 200px;
}
.head {
	text-align: center;
}
.head h1 {
	font-family: 'Bebas Neue', cursive;
	font-weight: 500;
	font-size: 90px;
	letter-spacing: 0.1em;
	padding-top: 15px;
}
.head span {
	font-size: 32px;
	font-weight: 400;
	font-family: 'ABeeZee', sans-serif;
	line-height: 38px;
	margin-bottom: 40px;
}
.head span a {
    text-decoration: none;
    color: black;
}

.head span a:hover {
    color: blueviolet;
}

.forms {
    background-color: rgba(16, 24, 32, 1);
    width: 100%;
    min-height: 73.2vh;
}

#face-btn {
    font-family: 'ABeeZee', sans-serif;
    color: white;
    background-color: #3B5998;
    border-radius: 30px;
    position: absolute;
    width: 400px;
    height: 80px;
    left: 570px;
    top: 280px;

    font-weight: 400;
    font-size: 20px;
    text-align: center;
    transition: 1s ease;
}

#face-btn:hover {
    transform: scale(1.1);
}

#face-btn i {
    margin-left: 20px;
    font-size: 30px;
}

#google-btn {
    font-family: 'ABeeZee', sans-serif;
    position: absolute;
    width: 400px;
    height: 80px;
    left: 570px;
    top: 380px;

    background: #FFFFFF;
    border-radius: 30px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    transition: 1s ease;
}

#google-btn i {
    margin-left: 50px;
    font-size: 30px;
}

#google-btn:hover {
    transform: scale(1.1);
}

#new-acc {
    font-family: 'Bebas Neue', cursive;
    position: absolute;
    width: 350px;
    height: 80px;
    left: 600px;
    top: 480px;

    background: #FEE715;
    border-radius: 30px;
    transition: 1s ease;

    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.1em;
}

#new-acc:hover {
    transform: scale(1.1);
}

.forms img {
    margin-top: 470px;
    margin-left: 30px;
}