@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Bebas+Neue&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'ABeeZee', sans-serif;
}

.main {
    width: 100%;
    min-height: 100vh;
    background-color: #101820;
    display: flex;
    flex-direction: row;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.user_choices{
    height: 90vh;
    width: 30%;
    margin: 2% 7% 2% 2%;
}

#home {
    text-decoration: none;
    background-color: #101820;
    color: #fff;
    border-radius: 30px;
    align-self: self-start;
    padding: 7px;
    margin: 10px;
}

#home span {
    font-size: 20px;
}

#circle-user{
    width: 150px;
    height: 150px;
}

.user {
    height: 300px;
    background-color: rgba(254, 231, 21, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    border-radius: 20px;
}
.user img {
    width: 170px;
    height: 170px;
}
.user h2, .user h3 {
    padding-top: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1em;
}
.user_choices{
    background: white;
    border-radius: 20px;
}
.chooice {
    width: 100%;
    height: 50px;
    border: 0;
    margin-top: 20px;
}

button a{
    text-decoration: none;
    color: black;  
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1em;
}

button a:hover {
    color: rgb(204, 185, 21);
}
.details_info, .edit_info, .favorites, .planes{
    display: block;
    width: 60%;
    height: 90vh;
    border-radius: 20px;
    background-color: white;
    margin: 2%;
}

.edit_info{
    display: none;
}

.favorites{
    display: none;
}

.planes{
    display: none;
}

.edit_info button {
    width: 180px;
    height: 50px;
    color: black;
    background-color: rgba(254, 231, 21, 1);
    border: none;
    font-weight: 600;
    font-size: 24px;
}

.details {
    height: 15%;
    background-color: rgba(254, 231, 21, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1em;
    border-radius: 20px;
}

form{
    margin: 5%;
    display: grid;
    grid-template-columns: 23% 20% 15% 22% 20% ;
    grid-template-rows: repeat(4, 100px);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1em;
    
}

input {
    height: 30px;
    background-color: white;
    border: 0px solid white;
    font-size: 20px;
}

.edit_info input {
    font-size: 17px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5%;
}

label {
    font-weight: 700;
}

.llastName{
    grid-row: 1;
    grid-column: 4;
}
.lastName{
    grid-row: 1;
    grid-column: 5;
}
.lnational{
    grid-row: 2;
    grid-column: 1;
}

.nationality {
    grid-row: 2;
    grid-column: 2;
}

.lphone {
    grid-row: 3;
    grid-column: 1;
}

.phone{
    grid-row: 3;
    grid-column: 2;
}
.gender{
    grid-column: 4 / 6;
    grid-row: 2;
}

.ldate{
    grid-column: 4;
    grid-row: 3;
}

.date{
    grid-column: 5;
    grid-row: 3;
}

.lemail{
    grid-column: 1;
    grid-row: 4;
}

.email {
    grid-column: 2 / 4;
    grid-row: 4;
}