@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'ABeeZee', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    min-width: 100%;
    min-height: 100vh;
    background: #11101b;
    color: #f2f2f2;
    text-align: center;
}
.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 100px 40px 100px ;
    text-align: left;
}
.left{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: #fee715;
}
.right{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-left: 300px;
}
.right span{
    color: #fee715;
}
.right input{
    background: none;
    color: #fee715;
    border: none;
    font-size: 17px;
}
.right .budget{
    display: flex;
    flex-direction: row;
}
.right .budget input{
    text-align: center;
    width: 45px;
}
.right .comment input{
    background: white;
    width: 330px;
    height: 50px;
    color: black;
    text-align: start;
    font-size: 15px;
    padding: 5px;
    border-radius: 10px;
}
.back{
    text-align: left;
    padding: 30px 0 0 50px;
}
.back a{
    color: #fee715;
    font-size: 40px;
    cursor: pointer;
}
.back a:hover{
    color: white;
}
.btns input{
    width: 130px;
    height: 35px;
    margin: 0 20px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    background: #fee715;
    border: none;
}
.btns input:hover{
    background: white;
}

.main_slide {
    display: flex;
    flex-direction: column;
    width: 40%;
    position: relative; /* Add position relative to the main container */
  }
  
  .slider-container {
    position: relative;
  }
  
  .slider-container img {
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
    z-index: 1;
    margin-left: 55px;
    padding: 30px 0;
    border-radius: 50px;
    width: 500px;
    height: 500px;
  }
  
  .slider-container img.active {
    opacity: 1;
  }
  
  .slider-container .slide-number {
    display: none;
  }
  
  .slider-controls {
    position: absolute;
    bottom: 80px;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
  }
  
  .slider-controls .prev,
  .slider-controls .next {
    background-color: #dfca13;
    color: black;
    text-align: center;
    cursor: pointer;
    border-radius: 50px;
    user-select: none;
    margin-bottom: 230px;
    font-size: 30px;
    height: 30px;
  }
  
  .slider-controls .prev {
    float: left;
    margin-left: 10px;
  }
  
  .slider-controls .next {
    float: right;
  }
  
  .slider-controls .prev.disabled,
  .slider-controls .next.disabled {
    background-color: #A1A19D ;
    cursor: no-drop;
  }
  
  .slider-controls .indicators {
    display: none;
  }
  
  .slider-controls .indicators ul {
    list-style: none;
    margin: 0;
    text-align: center;
  }
  
  .slider-controls .indicators ul li {
    display: inline-block;
    background-color: #f6f6f6;
    color: #333;
    font-weight: bold;
    height: 28px;
    width: 28px;
    border-radius: 4px;
    margin: 0 2px;
    line-height: 28px;
    cursor: pointer;
  }
  
  .slider-controls .indicators ul li.active {
    background-color: #dfca13;
    color: #fff;
  }

 


/* end start slide  */
