@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Bebas+Neue&display=swap');


*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Libre Franklin', sans-serif;
}

body {
    width: 100%;
}
@keyframes animate {
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
h2, h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}

h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    font-weight: 400;
}

.card h3 {
    font-family: 'ABeeZee', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

header {
    width: 100%;
    height: 80px;
    background: #101820;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    /* border-radius: 100px; */
    position: fixed;
    z-index: 999;
    /* margin: 40px 5% 0 5%; */
}
.content h1 a:hover{
    color: white;
}
.logo img{
    width: 80px;
}

.hamburger {
    display: none;
}

.nav-bar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.nav-bar ul li{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar ul li a, .fa-user, #logout  {
    color: #fefefe;
    font-size: 20px;
    padding: 10px 25px;
    transition: 0.2s;
    text-decoration: none;
}

.nav-bar ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #FEE715;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-bar ul li a:hover::after{
    width: 100%;
}

.nav-bar ul li a:hover{
    color: #FEE715;
}

@media only screen and (max-width: 1320px) {
    header {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1100px) {
    .sub-menu-wrap{
        display: none;
    }
    .hamburger{
        display: block;
        cursor: pointer;
    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background: #fefefe;
        margin: 6px 0;
    }

    .nav-bar {
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 75%;
        margin: auto;
        background: #11101b;
        transition: 0.5s;
        overflow: hidden;
    }

    .nav-bar.active{
        height: 370px;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 20px auto 0 auto;
        padding: 0;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    #user-icon {
        display: none;
    }

    #logout{
        display: inline-block;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 12px;
    }
    .profile{
        display: block;
    }
}

@media only screen and (max-width: 720px){
    .logo img {
        width: 60px;
    }
}

.plans {
    width: 100%;
    min-height: 100vh;
    padding: 150px 100px 0;
    gap: 100px;
    background: linear-gradient(120deg, #FEE715,#9d8e04);
    display: flex;
    align-items: flex-start;
}

.left {
    width: 70%;
    display: flex;
}

.left .ad {
    width: 40%;
    position: sticky;
    top: 100px;
    margin-bottom: 50px;
}
.content {
    width: 60%;
    text-align: center;
    margin-left: 55px;
}

.left .ad img{
    height: 450px;
    width: 100%;
    margin-top: 80px;
    margin-left: -60px;
    box-shadow: 2px 5px 18px #afafaf;
    cursor: pointer;
}
.plan_card {
    width: 100%;
    height: 80px;
    border-radius: 20px;
    cursor: pointer;
    color: #FEE715;
    background-color: #101820;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: 25px 0;
    transition: 0.5s ease-out;
}

.plan_card:hover {
    transform: scale(1.05);
    animation: animate 1s linear infinite;
}


.right {
    width: 30%;
    min-height: 200px;
    color: #101820;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 80px;
    margin-bottom: 50px;
}

.right .card {
    width: 80%;
    min-height: 200px;
    text-align: center;
}

.right .card img{
    width: 40%;
    height: 30%;
}

.popup {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
}

.popup_content {
    width: 40%;
    height: 90%;
    background-color: #fefefe;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    overflow-y: auto;
    box-shadow: 5px 10px 18px #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup_content::-webkit-scrollbar{
    width: 10px;
}
.popup_content::-webkit-scrollbar-thumb{
    background-color: #9d8e04;
    border-radius: 20px;
}

.popup #close {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: relative;
    top: -320px;
    left: 20px;
    background-color: #cbb704;
    border-radius: 50%;
    box-shadow: 5px 10px 18px #FEE715;
}
/* Cards */
.card {
    width: 60%;
    min-height: 300px;
    background-color: #101820;
    color: #FEE715;
    margin: 10px 0 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #000000;
    border-radius: 20px;
    padding: 20px;
    transition: 0.5s ease-out;
    overflow: hidden;
}
.popup_content{
    background-color: #101820;
    color: #FEE715;
}
.popup_content h1{
    animation: animate 2s linear infinite;
}
.popup_content input[type="text"]{
    background: none;
    border: none;
    text-align: center;
    font-size: 30px;
    color: #FEE715;
    width: 150px;
    margin-bottom: 10px;
}
.popup_content input[type="date"]{
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #FEE715;
    text-align: center;
    padding: 2px 0;
    border-radius: 20px;
    font-size: 15px;
    color: #FEE715;
    width: 170px;
}
.popup_content input[type="submit"]{
    width: 70px;
    height: 20px;
    background-color: #FEE715;
    color: #101820;
    cursor: pointer;
    margin-top: 10px;
    border: none;
    border-radius: 20px;
}
.popup_content input[type="submit"]:hover{
    background-color: white;
    color: #101820;
}
.remove button{
    cursor: pointer;
    background: none;
    border: none;
    color: #101820;
    font-size: 30px;
    margin: 45px 0 0 20px;
}
.remove button:hover{
    color: white;
}
.remove input{
    display: none;
}
.r1{
    display: flex;
    flex-direction: row;
}
.popup .card{
    width: 55%;
    min-height: 300px;
    background-color: #cbb704;
    color: #101820;
    margin: 20px 0 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 20px;
    padding: 20px;
    transition: 0.5s ease-out;
    
}
.popup .card:hover{
    box-shadow: 5px 10px 18px #FEE715;
}
.popup .card img{
    border-radius: 50px;
}
.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 115px;
    height: 115px;
    border-radius: 20px;
}

.card .text1 {
    width: 80%;
    text-align: center;
    margin: 15px 0;
    
}
.card .text1 h3 {
    font-weight: 600;
    font-size: 22px;
    line-height: 20px;
}
.card .text1 p{
    margin-top: 10px;
    font-size: 11px;
}
.dis{
    width: 400px;
    height: 10px;
}

.card .add-plan, .send-comment, .filre-submit {
    height: 30px;
    width: 70px;
    background-color: #101820;
    color: #cbb704;
    border: 2px solid #FEE715;
    border-radius: 10px;
    margin-left: 320px;
}
.popup .card .more{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}
.more input[type="submit"]{
    width: 100px;
    height: 30px;
    text-align: center;
    color: #FEE715;
    background-color: #101820;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.more input[type="submit"]:hover{
    color: #101820;
    background-color: white;
}
.right .text1 h3{
    line-height: 30px;
}
.right .text1 h4{
    color: white;
}
.right .more input[type="submit"]{
    border: 2px solid #FEE715;
}
.right .more input[type="submit"]:hover{
    color: #101820;
    background-color: #FEE715;
}
.more form {
    display: flex;
    flex-direction: column;
}

.contact_us{
    width: 100%;
    min-height: fit-content;
    background-color: #101820;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: repeat(2, 50%);
    font-family: 'ABeeZee', sans-serif;
    padding: 20px;
}

.contact_us .left {
    grid-row: 2;
    margin-left: 30px;
}

.contact_us .left a {
    text-decoration: none;
}

.contact_us .left a h3{
    font-family: 'Bebas Neue', cursive;
    color: #FEE715;
    text-transform: uppercase;
    display: inline;
}

.contact_us .info {
    grid-column: 3;
    grid-row: 1;
}

.contact_us .info h3{
    text-transform: uppercase;
    color: #FEE715;
    font-family: 'Bebas Neue', cursive;
}

.contact_us .info p {
    color: white;
}

.contact_us .info a {
    text-decoration: none;
    color: #FEE715;
}

.contact_us .info a:hover {
    color: white;
}

.contact_us img {
    width: 66px;
    height: 40px;
}

.privacy {
    grid-column: 3;
}

@media (max-width: 1200px) {

    .plan_card h3{
        font-size: 15px;
    }

    .plans {
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .left {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 100px;
    }

    .left .ad{
        margin-left: 100px;
        width: auto;
        height: auto;
       position: unset;
    }

    .content{
        width: 100%;
        text-align: center;
        margin-left: 0;
    }
    .remove button{
        margin-top: 25px;
        font-size: 20px;
        margin: 20px 0 0 10px;
    }
    .right {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left: 10%;
        right: 10%;
    }
    
    .plan_card {
        width: 70%;
        margin: 0 0 0 20px;
        display: flex;
        flex-direction: column;
        margin-top: 0;
        height: auto;
    }
    .r1{
        margin-top: 20px;
        margin-left: 20px;
    }
    .right .card {
        width: 100%;
        min-height: 100px;
    }

    .right .card img{
        width: 100%;
        height: 100%;
    }

    .contact_us .info{
        grid-column: 1;
        grid-row: 2;
    }

    .contact_us .left{
        grid-row: 1;
        display: flex;
        justify-content: end;
        margin-bottom: 50px;
    }

    .popup_content{
        width: unset;
        padding: 0;
    }

    .popup .card{
        width: 90%;
        min-height: 400px;
    }

    .popup .card .more {
        align-items: center;
        flex-direction: column;
    }

    .popup #close{
        top: -43%;
        box-shadow: none;
        width: 15%;
        height: 3.5%;
    }

    .popup_content input[type="text"] {
        margin-top: 40px;
    }

    .more{
        padding: 0;
    }


}


@media (max-width: 900px) {
    
    .popup #close{
        top: -43%;
        box-shadow: none;
        width: 15%;
        height: 5%;
    }
}
