@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Bebas+Neue&display=swap');


*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Libre Franklin', sans-serif;
}

body {
    width: 100%;
}

h2, h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}

h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    font-weight: 400;
}

.card h3 {
    font-family: 'ABeeZee', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

header {
    width: 100%;
    height: 80px;
    background: #101820;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    /* border-radius: 100px; */
    position: fixed;
    z-index: 999;
    /* margin: 40px 5% 0 5%; */
}

.logo img{
    width: 80px;
}

.hamburger {
    display: none;
}

.nav-bar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.nav-bar ul li{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar ul li a, .fa-user, #logout  {
    color: #fefefe;
    font-size: 20px;
    padding: 10px 25px;
    transition: 0.2s;
    text-decoration: none;
}

.nav-bar ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #FEE715;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-bar ul li a:hover::after{
    width: 100%;
}

.nav-bar ul li a:hover{
    color: #FEE715;
}

@media (max-width: 90vh) {
    nav {
        min-height: 5vh;
        top: 20px;
    }

    .navbar .navbar-toggler {
        color: white;
        border: none;
        font-size: 40px;
    }

    #user {
        margin-left: 10px;
        font-size: 40px;
        color: white;
    }

    #logo {
        width: 90px;
    }

    .navbar .navbar-nav .nav-link,.navbar .navbar-brand {
        font-size: 30px;
    }
}

.plans {
    width: 100%;
    min-height: 100vh;
    padding: 150px 100px 0;
    gap: 100px;
    background: linear-gradient(120deg, #FEE715,#9d8e04);
    display: flex;
    align-items: flex-start;
}

.left {
    width: 70%;
    display: flex;
}

.left .ad {
    width: 40%;
    height: 50%;
    position: sticky;
    top: 100px;
    margin-bottom: 50px;
}

.left .ad img{
    width: 80%;
    height: 400px;

}

.plan_card {
    width: 100%;
    height: 80px;
    border-radius: 20px;
    cursor: pointer;

    color: #FEE715;
    background-color: #101820;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 0 50px;
    margin: 25px 0;
    
    transition: 0.5s ease-out;
}

.plan_card:hover {
    transform: scale(1.1);
}


.right {
    width: 30%;
    min-height: 200px;

    color: #101820;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: sticky;
    top: 80px;
    
    margin-bottom: 50px;
}

.right .card {
    width: 80%;
    min-height: 200px;
}
.right .card img{
    width: 40%;
    height: 30%;
}
.right .more {
    padding: 0;
}

.content {
    width: 60%;
}

.popup {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    z-index: 9999;

    display: none;
    justify-content: center;
    align-items: center;
}

.popup_content {
    width: 40%;
    height: 90%;
    background-color: #fefefe;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup_content::-webkit-scrollbar{
    width: 10px;
}
.popup_content::-webkit-scrollbar-thumb{
    background-color: #9d8e04;
    border-radius: 20px;
}

.popup #close {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: relative;
    top: -330px;
    left: 20px;
    background-color: #FEE715;
    border-radius: 50%;
}

/* Cards */
.card {
    width: 60%;
    min-height: 300px;
    background-color: #101820;
    color: #FEE715;
    margin: 10px 0 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #000000;
    border-radius: 20px;
    padding: 20px;
    transition: 0.5s ease-out;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 115px;
    height: 115px;
}

.card .text1 {
    width: 80%;
    text-align: center;
    margin: 20px 0;
    
}
.card .text1 h1 {
    font-weight: 600;
    font-size: 25px;
    line-height: 10px;
}
.card .text1 p{
    margin-top: 10px;
    font-size: 11px;
}
.dis{
    width: 400px;
    height: 10px;
}

.card .add-plan, .send-comment, .filre-submit {
    height: 30px;
    width: 70px;
    background-color: #101820;
    color: #cbb704;
    border: 2px solid #FEE715;
    border-radius: 10px;
    margin-left: 320px;
}
.more{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}
.more input[type="submit"]{
    width: 100px;
    height: 30px;
    text-align: center;
    color: #FEE715;
    background-color: #101820;
    border-radius: 10px;
    border: 2px solid #FEE715;
}
.more input[type="submit"]:hover{
    color: #101820;
    background-color: #9d8e04;
}

.more form {
    display: flex;
    flex-direction: column;
}

.about_us {
    font-family: 'ABeeZee', sans-serif;
    width: 100%;
    min-height: 70vh;
    background-color: #101820;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
}
.about_us .left{
    background-color: #9d8e04;
    height: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    border-radius: 50px;
    margin-right: 50px;
}
.about_us .left h1{
    color: #101820;
    margin: 20px 0 0 10%;
    font-size: 30px;
}
.about_us .left input{
    margin: 10px 0 0 10%;
    width: 80%;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.425);
    border: 0;
    padding: 10px;
}
.about_us .left textarea{
    margin: 10px 10% 0 10%;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.489);
    border: 0;
    padding: 10px;
}
.about_us .left input[type="submit"]{
    cursor: pointer;
    background-color: #101820;
    color: #FEE715;
    width: 20%;
    border-radius: 10px;
    font-size: 15px;
    margin-bottom: 20px;
}
.about_us .left input[type="submit"]:hover{
    background-color: white;
    color: #101820;
}
.about_us h3{
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    font-size: 50px;
    line-height: 77px;
    /* margin-left: 125px; */
}
.about_us h3 span {
    font-family: 'Bebas Neue', cursive;
    color: #FEE715;
}
.about_us p{
    font-family: 'ABeeZee', sans-serif;
    text-align: justify;
    padding: 0%;
    color: white;
    margin-right: 30%;
    /* margin-left: 20%; */
}
.about_us a{
    color: #FEE715;
    font-size: 30px;
    margin-right: 15px;
}
.about_us .icons{
    margin-top: 20px;
    margin-bottom: 30px;
    /* margin-left: 36%; */
}
.about_us .left h3{
    display: inline;
    text-transform: uppercase;
    color: #FEE715;
    font-family: 'Bebas Neue', cursive;
}
.about_us .contact h3{
    font-size: 35px;
    font-weight: 400;
    line-height: 77px;
    /* margin-left: 35%; */
}
.about_us .contact a{
    font-size: 17px;
}
.about_us a:hover{
    color: #9d8e04;
}