@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Bebas+Neue&display=swap');


*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Libre Franklin', sans-serif;
}

body {
    width: 100%;
}

header {
    width: 100%;
    height: 80px;
    background: #101820;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    /* border-radius: 100px; */
    position: fixed;
    z-index: 999;
    /* margin: 40px 5% 0 5%; */
}

.logo img{
    width: 80px;
}

.hamburger {
    display: none;
}

.nav-bar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.nav-bar ul li{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar ul li a, .fa-user, #logout  {
    color: #fefefe;
    font-size: 20px;
    padding: 10px 25px;
    transition: 0.2s;
    text-decoration: none;
}

.nav-bar ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #FEE715;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-bar ul li a:hover::after{
    width: 100%;
}

.nav-bar ul li a:hover{
    color: #FEE715;
}

@media (max-width: 90vh) {
    nav {
        min-height: 5vh;
        top: 20px;
    }

    .navbar .navbar-toggler {
        color: white;
        border: none;
        font-size: 40px;
    }

    #user {
        margin-left: 10px;
        font-size: 40px;
        color: white;
    }

    #logo {
        width: 90px;
    }

    .navbar .navbar-nav .nav-link,.navbar .navbar-brand {
        font-size: 30px;
    }
}

.plans {
    width: 100%;
    min-height: 100vh;
    padding: 150px 100px 0;
    gap: 100px;
    background: linear-gradient(120deg, #FEE715,#9d8e04);
    display: flex;
    
}

.left {
    width: 60%;
}

.right {
    width: 35%;
    height: 200px;
    background-color: #fefefe;
    border: 2px solid #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
}

.right p {
    font-size: 30px;
    margin-top: 40px;
}

.card {
    width: 100%;
    height: 120px;
    background-color: #EDEDED;
    margin: 20px 0 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #000000;
    padding: 0 10px 0 0;
}

.card img {
    width: 115px;
    height: 115px;
    margin-left: 10px;
}

.card .text1 {
    width: 40%;
    margin-left: 20px;
    
}
.card .text1 h1 {
    font-weight: 600;
    font-size: 15px;
    line-height: 10px;
    margin-top: 17px; 
}
.card .text1 p{
    margin-top: 10px;
    font-size: 11px;
}
.dis{
    width: 400px;
    height: 10px;
}
.card .text1 h6 {
    font-weight: 600;
    font-size: 13px;
    line-height: 10px;
    letter-spacing: 0.1em;
    color: #cbb704;
    margin-top: 20px;
}
.card .location-text p {
    font-size: 15px;
    padding-left: 2px;
}

.card .location-text{
    width: 200px;
    height: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 10px;
    letter-spacing: 0.1em;
}
.card .add-plan, .send-comment, .filre-submit {
    height: 30px;
    width: 70px;
    background-color: #101820;
    color: #cbb704;
    border: 2px solid #FEE715;
    border-radius: 10px;
    margin-left: 320px;
}
.more{
    margin-left: 60px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    /* margin-top: 75px; */
}
.more input[type="submit"]{
    width: 100px;
    height: 30px;
    text-align: center;
    color: #FEE715;
    background-color: #101820;
    border-radius: 10px;
}
.more input[type="submit"]:hover{
    color: #101820;
    background-color: #9d8e04;
}

.more form {
    display: flex;
    flex-direction: column;
}

.about_us {
    font-family: 'ABeeZee', sans-serif;
    width: 100%;
    min-height: 70vh;
    background-color: #101820;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
}
.about_us .left{
    background-color: #9d8e04;
    height: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    border-radius: 50px;
    margin-right: 50px;
}
.about_us .left h1{
    color: #101820;
    margin: 20px 0 0 10%;
    font-size: 30px;
}
.about_us .left input{
    margin: 10px 0 0 10%;
    width: 80%;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.425);
    border: 0;
    padding: 10px;
}
.about_us .left textarea{
    margin: 10px 10% 0 10%;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.489);
    border: 0;
    padding: 10px;
}
.about_us .left input[type="submit"]{
    cursor: pointer;
    background-color: #101820;
    color: #FEE715;
    width: 20%;
    border-radius: 10px;
    font-size: 15px;
    margin-bottom: 20px;
}
.about_us .left input[type="submit"]:hover{
    background-color: white;
    color: #101820;
}
.about_us h3{
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    font-size: 50px;
    line-height: 77px;
    /* margin-left: 125px; */
}
.about_us h3 span {
    font-family: 'Bebas Neue', cursive;
    color: #FEE715;
}
.about_us p{
    font-family: 'ABeeZee', sans-serif;
    text-align: justify;
    padding: 0%;
    color: white;
    margin-right: 30%;
    /* margin-left: 20%; */
}
.about_us a{
    color: #FEE715;
    font-size: 30px;
    margin-right: 15px;
}
.about_us .icons{
    margin-top: 20px;
    margin-bottom: 30px;
    /* margin-left: 36%; */
}
.about_us .left h3{
    display: inline;
    text-transform: uppercase;
    color: #FEE715;
    font-family: 'Bebas Neue', cursive;
}
.about_us .contact h3{
    font-size: 35px;
    font-weight: 400;
    line-height: 77px;
    /* margin-left: 35%; */
}
.about_us .contact a{
    font-size: 17px;
}
.about_us a:hover{
    color: #9d8e04;
}