@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'ABeeZee', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

body{
    height: 100vh;
    width: 100%;
    background-color: #101820;
}
header {
    width: 100%;
    height: 80px;
    background: #dfca13;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px 0 50px;
    /* border-radius: 100px; */
    position: fixed;
    z-index: 999;
    /* margin: 40px 5% 0 5%; */
}
.main{
    width: 100%;
    min-height: 90vh;
    padding-top: 150px;
    display: flex;
    flex-direction: row;
}
.logo img{
    width: 80px;
    margin-bottom: 30px;
}
.back-arrow{
    padding-right: 40px;
    width: 30px;
    height: 30px;
    color: #101820;
    padding-bottom: 10px;
    cursor: pointer;
    margin-top: 30px;
}
.hamburger {
    display: none;
}

.nav-bar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.nav-bar ul li{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar ul li a, .fa-user, #logout  {
    color: #101820;
    font-size: 20px;
    padding: 10px 25px;
    transition: 0.2s;
    text-decoration: none;
}

.nav-bar ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #101820;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-bar ul li a:hover::after{
    width: 100%;
}

.nav-bar ul li a:hover{
    color: #101820;
}

@media (max-width: 90vh) {
    nav {
        min-height: 5vh;
        top: 20px;
    }

    .navbar .navbar-toggler {
        color: white;
        border: none;
        font-size: 40px;
    }

    #user {
        margin-left: 10px;
        font-size: 40px;
        color: white;
    }

    #logo {
        width: 90px;
    }

    .navbar .navbar-nav .nav-link,.navbar .navbar-brand {
        font-size: 30px;
    }

}

.photo{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}



/* start slide style  */

.main_slide {
    display: flex;
    flex-direction: column;
    width: 40%;
    position: relative; /* Add position relative to the main container */
  }
  
  .slider-container {
    position: relative;
  }
  
  .slider-container img {
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
    z-index: 1;
    margin-left: 55px;
    padding: 30px 0;
    border-radius: 50px;
    width: 500px;
    height: 500px;
  }
  
  .slider-container img.active {
    opacity: 1;
  }
  
  .slider-container .slide-number {
    display: none;
  }
  
  .slider-controls {
    position: absolute;
    bottom: 80px;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
  }
  
  .slider-controls .prev,
  .slider-controls .next {
    color: #dfca13;
    text-align: center;
    cursor: pointer;
    border-radius: 50px;
    user-select: none;
    margin-top: 150px;
    font-size: 30px;
    height: 30px;
  }
  
  .slider-controls .prev {
    float: left;
    margin-left: 10px;
  }
  
  .slider-controls .next {
    float: right;
  }
  
  .slider-controls .prev.disabled,
  .slider-controls .next.disabled {
    color: #A1A19D ;
    cursor: no-drop;
  }
  
  .slider-controls .indicators {
    display: none;
  }
  
  .slider-controls .indicators ul {
    list-style: none;
    margin: 0;
    text-align: center;
  }
  
  .slider-controls .indicators ul li {
    display: inline-block;
    background-color: #f6f6f6;
    color: #333;
    font-weight: bold;
    height: 28px;
    width: 28px;
    border-radius: 4px;
    margin: 0 2px;
    line-height: 28px;
    cursor: pointer;
  }
  
  .slider-controls .indicators ul li.active {
    background-color: #dfca13;
    color: #fff;
  }

 


/* end start slide  */


.disc{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 0 30px 70px;
    margin-left: 120px;
    color: white;
}
.disc a{
    color: white;
}
.disc a:hover{
    color: white;
}
.disc p{
    text-align: justify;
    margin-bottom: 20px;
}
.disc h2{
    color: #dfca13;
}
.box{
    display: flex;
    flex-direction: column;
}

.box1{
    display: flex;
    justify-content: space-between;
}

.box2{
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin-top: 400px;
    margin-left: 60px;
}
.box2 h2{
    color: #FEE715;
}
.box2 p{
    color: white;
}
.box2>*{
    width: 100%;
}

.box2 ol{
    width: 100%;
    margin: 20px;
}

.btns{
   margin-left: 84%;
}

.btns input[type="submit"], .btns .open{
    background: #dfca13;
    width: 200px;
    height: 50px;
    color: black;
    border-radius: 50px;
    margin-bottom: 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

.btns input[type="submit"]:hover, .btns .open:hover{
    background-color: white;
}

@media only screen and (max-width: 820px) {
    
    .photo {
      flex-direction: column;
      height: auto;
    }
    
    .img,
    .disc {
      width: 100%;
      padding: 50px;
      text-align: center;
    }
    
    .img img {
      margin-left: 0;
      margin-bottom: 20px;
      border-radius: 0;
    }
    
    .disc h2 {
      font-size: 24px;
      margin-bottom: 20px;
    }
    
    .disc p {
      font-size: 18px;
      margin-bottom: 20px;
    }
    
    .box1,
    .box2 {
      flex-direction: column;
      text-align: left;
    }
    
    .box2 ol {
      margin: 20px 0;
    }
    
    .btns {
      text-align: center;
      margin: 0;
    }
    
    .btns .button {
        margin: 20px;
        padding: 100px;
    }
  }
  .popup {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    z-index: 9999;

    display: none;
    justify-content: center;
    align-items: center;
}

.popup_content {
    width: 40%;
    height: 90%;
    color: #101820;
    background: linear-gradient(120deg, #FEE715,#9d8e04);
    border-radius: 10px;
    box-shadow: 5px 10px 18px #000;
    padding: 20px;
    text-align: center;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.popup_content::-webkit-scrollbar{
    width: 10px;
}
.popup_content::-webkit-scrollbar-thumb{
    background-color: #9d8e04;
    border-radius: 20px;
}

.popup #close {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: relative;
    top: -320px;
    left: 20px;
    color: #FEE715;
    background-color: #101820;
    border-radius: 50%;
    box-shadow: 5px 10px 18px black;
}

.plan_form_btns {
    width: 50%;
    height: 50px;  
    background-color: #101820;
    color: #FEE715;
    border-radius: 30px;
    cursor: pointer;
    margin: 30px 0;
    font-size: 20px;
    font-weight: 500;
    transition: 0.7s ease-out;
    border: none;
}

.plan_form_btns:hover {
    box-shadow: 5px 10px 18px black;
    background-color: #101820;
    color: #101820;
    background-color: #fff;
    transform: scale(1.02);
}

.addpopform {
    width: 70%;
    padding-top: 20px;
    display: none;
    flex-direction: column;
    text-align: center;
}
.addpopform input{
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px black solid ;
    background: none;
    border-radius: 20px;
    padding: 0 10px;
}

.addpopform input[type="submit"] {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10px;
    height: 40px;
    cursor: pointer;
    background-color: #101820;
    color: #FEE715;  
    border-radius: 20px;
    transition: 0.5s ease-out;
    font-size: 20px;
    border: none;
}

.addpopform input[type="submit"]:hover {
    background-color: white;
    color: #101820;
    transform: scale(1.05);
    box-shadow: 5px 10px 18px black;
}

.plan_card {
    width: 500px;
    height: 60px;
    border-radius: 20px;
    cursor: pointer;
    color: #FEE715;
    background-color: #101820;   
    display: flex;
    justify-content: space-between;
    align-items: center;   
    padding: 0 30px;
    margin: 25px 0;   
    transition: 0.5s ease-out;
}

.plan_card:hover {
    transform: scale(1.1);
}

.expopform {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: -11px 0;
}

.expopform a {
    width: 90%;
}

/*start rate*/
.progress-label-left {
    float: left;
    margin-right: 0.5em;
    line-height: 1em;
}

.progress-label-right {
    float: right;
    margin-left: 0.3em;
    line-height: 1em;
}

.star-light {
    color: #babcbd;
}
.container{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    flex-direction: column;
}
.card{
    height: 220px;
    width: 65%;
    background: #dfcb13;
    border-radius: 20px;
    box-shadow: 5px 10px 18px #000000;
}
.card-header{
    display: none;
}
.col-sm-4 b{
    color: #000;
}
.col-sm-4 button{
    background-color: #101820;
    color: #dfca13;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    width: 80px;
}
.col-sm-4 button:hover{
    background-color: #fff;
    color: #101820;
}
.modal-content{
    background-color: #101820;
}
.modal-header h5{
    color: #FEE715;
}
.modal-header button{
    color: #FEE715;
}
.form-group textarea{
    border-radius: 20px;
    border: none;
    background-color: #A1A19D;
}
.form-group button{
    background-color: #dfca13;
    color: #101820;
    border-radius: 20px;
    border: none;
}
.form-group button:hover{
    background: white;
    color: #101820;
}
.rounded-circle{
    width: 40px;
    height: 40px;
}
.row{
    display: flex;
    flex-direction: row;
}
.col-sm-11 .card{
    width: 100%;
    height: 150px;
    margin-left: 10px;
}
/*end rate*/

.contact_us{
    width: 100%;
    min-height: fit-content;
    background: #dfca13;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: repeat(2, 50%);
    font-family: 'ABeeZee', sans-serif;
    padding: 20px;
}

.contact_us .left {
    grid-row: 2;
    margin-left: 30px;
}

.contact_us .left a {
    text-decoration: none;
}

.contact_us .left a h3{
    font-family: 'Bebas Neue', cursive;
    color: #101820;
    text-transform: uppercase;
    display: inline;
}

.contact_us .info {
    grid-column: 3;
    grid-row: 1;
}

.contact_us .info h3{
    text-transform: uppercase;
    color: #101820;
    font-family: 'Bebas Neue', cursive;
}

.contact_us .info p {
    color: white;
}

.contact_us .info a {
    text-decoration: none;
    color: #101820;
}

.contact_us .info a:hover {
    color: white;
}

.contact_us img {
    width: 66px;
    height: 40px;
}

.privacy {
    grid-column: 3;
}
@media (max-width: 450px){
    body{
        height: 100%;
        width: 100%;
    }
    .photo{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .main_slide{
        width: 100%;
        height: 100%;
    }
    .slider-container img{
        margin: 0;
        padding: 0;
        width: 94%;
        margin-left: 10%;
        margin-right: 10%;
        height: 400px;
    }
    .disc{
        margin: 400px 0 0 0 ;
    }
    .disc p{
        margin-bottom: 10px;
    }
    .disc h2{
        margin-bottom: 0;
    }
}
