@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Bebas+Neue&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
}

header{
    width: 100%;
    top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 999;
}

nav {
    top: 10px;
    width: 90%;
    background-color: black;
    min-height: 10vh;
    border-radius: 100px;
}

.favorite a{
    text-decoration: none;
    color: white;
    font-size: 19px;
}

#f-heart{
    display: none;
}

#heart:hover + #f-heart, #f-heart:hover{
    display: inline;
}

.home {
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.favorite a:hover {
    color: #FEE715; 
}

.home h1 {
    color: #FEE715;
    margin-top: 15%;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.1em;
    font-weight: 500;
	font-size: 90px;
}
.home h2 {
    font-family: 'ABeeZee', sans-serif;
    color: #FEE715;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
}

.home .button {
    width: 250px;
    height: 70px;
    margin: 8%;

    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 65px;
    letter-spacing: 0.1em;

    background: #FEE715;
    border-radius: 100px;
    border: none;

    position: relative;
    transition: 1s ease;
} 

.home .button:hover {
    transform: scale(1.1);
}

#myVideo {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 100%;
}

#logo {
    width: 80px;
}

.container-fluid .navbar-toggler-icon {
    color: white;
}

.navbar .navbar-nav .nav-link,.navbar .navbar-brand {
    color: white;
}

.navbar .navbar-brand:hover {
    color: #FEE715;
}

#user {
    margin-left: 10px;
    font-size: 25px;
    color: white;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover,
#user:hover {
    color: #FEE715;
}

.navbar .search{
    color: #FEE715;
    border-right: 1px solid white;
}

.navbar .navbar-toggler {
    color: white;
    border: none;
    font-size: 25px;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

@media (max-width: 90vh) {
    nav {
        min-height: 5vh;
        top: 20px;
    }

    .navbar .navbar-toggler {
        color: white;
        border: none;
        font-size: 40px;
    }

    #user {
        margin-left: 10px;
        font-size: 40px;
        color: white;
    }

    #logo {
        width: 90px;
    }

    .navbar .navbar-nav .nav-link,.navbar .navbar-brand {
        font-size: 30px;
    }

    header h1 {
        margin-top: 40%;
        font-size: 130px;
    }

    header h2 {
        font-family: 'ABeeZee', sans-serif;
        color: #FEE715;
        font-weight: 400;
        font-size: 50px;
        line-height: 38px;
        min-height: 10vh;
    }

    header .button {
        width: 450px;
        height: 100px;
        margin-top: 20%;

        font-weight: 400;
        font-size: 60px;
    }
}

.about_us {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: black;
    flex-direction: row;
    align-items: center;
}

.content {
    padding-left: 200px;
}

.about_us h3{
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
}
.about_us h3 span {
    color: #FEE715;
}

.about_us p{
    font-family: 'ABeeZee', sans-serif;
    text-align: justify;
    padding: 0%;
    color: white;
    margin-right: 30%;
}

.about_us img{
    width: 500px;
    height: 500px;
    border-radius: 30%;
    margin-left: 100px;
}

.contact_us{
    width: 100%;
    min-height: fit-content;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: repeat(2, 50%);
    font-family: 'ABeeZee', sans-serif;
    padding: 20px;
}

.contact_us .left {
    grid-row: 2;
    margin-left: 30px;
}

.contact_us .left h3{
    display: inline;
    text-transform: uppercase;
    color: #FEE715;
    font-family: 'Bebas Neue', cursive;
}

.contact_us .info {
    grid-column: 3;
    grid-row: 1;
}

.contact_us .info h3{
    text-transform: uppercase;
    color: #FEE715;
    font-family: 'Bebas Neue', cursive;
}

.contact_us .info p {
    color: white;
}

.contact_us .info a {
    text-decoration: none;
    color: #FEE715;
}

.contact_us .info a:hover {
    color: white;
}

.contact_us img {
    width: 66px;
    height: 40px;
}

.privacy {
    grid-column: 3;
}