@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Bebas+Neue&display=swap');

/* 
Font family: -
font-family: 'ABeeZee', sans-serif;
font-family: 'Bebas Neue', cursive;
*/

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #101820;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content {
    width: 70%;
    height: 700px;

    display: flex;
    flex-direction: column;
}

.head {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    background-color: #FEE715;
    color: #101820;
}

.reg {
    width: 100%;
    height: 100%;
    
    display: flex;
}

.left, .right {
    width: 50%;
    /* background-color: red; */

    display: flex;
    justify-content: center;
    padding-left: 100px;
    flex-direction: column;
    gap: 2rem;
}

label {
    font-family: 'ABeeZee', sans-serif;
    font-size: 20px;
    font-weight: 500;

    display: block;
    color: #FEE715;
    padding: 10px;
}

input[type="text"],input[type="password"],input[type="date"],input[type="phone"],input[type="email"] {
    height: 35px;
    width: 70%;
    padding: 5px;
    padding-left: 20px;
    border-radius: 30px;

    border: none;
    font-size: 20px;
}

input[type="radio"]{
    margin-right: 10px;
    accent-color: #FEE715;
}

input::placeholder {
    font-size: 16px;
}

.gender {
    width: fit-content;
    padding: 10px;
    border: 3px solid black;
    border-radius: 20px;

    background-color: #101820;
    color: #FEE715;
}

label[for="gender"] {
    display: inline;
    margin-right: 20px;
    padding: 0;
}

.gender:hover {
    background-color: #FEE715;
}

.gender:hover label[for="gender"]{
    color: #101820;
}

.gender:hover input[type="radio"] {
    accent-color: #101820;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit input{
    width: 150px;
    height: 50px;

    font-size: 26px;
    border-radius: 20px;
    border: none;
    cursor: pointer;

    font-family: 'Bebas Neue', cursive;
    background-color: #FEE715;
    color: #101820;
    transition: 0.5s ease-out;
}

.submit input:hover {
    transform: scale(1.1);
}

footer {
    width: 100%;
    height: 100px;
}

footer img {
    width: 80px;
    height: 55px;
    padding: 0 20px;
}