@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'ABeeZee', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    min-width: 100%;
    min-height: 100vh;
    background: #11101b;
    color: #f2f2f2;
}

header {
    width: 15%;
    height: 100%;
    background: #11101b;
    border-right: 15px double #fee715;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 999;
}

nav {
    width: 100%;
    height: 100%;
}

nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

nav button {
    width: 100%;
    height: 70px;
    margin-bottom: 50px;
    background-color: #fee715;

    font-size: 30px;
    font-family: 'Bebas Neue', cursive;

    border: none;
    cursor: pointer;
}

nav ul li {
    cursor: pointer;
    width: 100%;
    height: 60px;
    list-style: none;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

nav ul li.active {
    background-color: #fee715c6;
}

.dashboard, .users, .places, .request {
    display: block;
    padding: 7% 0 0 20%;
}


.users, .places, .request{
    display: none;
}

.shortcut {
    width: 95%;
    height: 270px;
    display: flex;
    padding: 0px 10px;
    justify-content: center;
    gap: 50px;

    margin-top: 20px;
}

.card {
    width: 300px;
    height: 80%;
    background-color: #fee715c6;
    box-shadow: 0 5px 10px #fee71599;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
}

.card>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.card svg,.card p  {
    margin-top: 20px;
    font-size: 40px;
}

#numcard {
    transition: 0.5s ease-out;
}

#numcard:hover {
    transform: scale(1.1);
}

.card a {
    text-decoration: none;
    text-align: center;
    background-color: #11101b;
    border: 4px double #11101b;
    color: #fee715;

    padding: 5px 10px;
    margin-top: 20px;
    border-radius: 15px;
    
    font-size: 20px;
    transition: 0.5s ease-out;
}

.card a:hover {
    transform: scale(1.1);
    background-color: #fee715;
    color: #11101b;
    border: 4px double #11101b;
}

table {
    color: #f2f2f2;
    border-collapse: collapse;
    border: 2px solid #fee715;
    width: 90%;

    margin-bottom: 50px;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    color: #11101b;
    background-color: #fee715;
    font-weight: bold;
}

tr:nth-child(even) {
    border: 2px solid #fee715;
    background-color: #11101b;
}

a {
    color: #fee715;
    text-decoration: none;
}
