@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Bebas+Neue&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'ABeeZee', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background-color: #101820;
}

header {
    width: 100%;
    height: 80px;
    background: #dfca13;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px 0 50px;
    /* border-radius: 100px; */
    position: relative;
    top: 0;
    z-index: 999;
    /* margin: 40px 5% 0 5%; */
}
.main{
    width: 100%;
    min-height: 90vh;
    padding-top: 150px;
    display: flex;
    flex-direction: row;
}
.logo{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}
.logo img{
    width: 80px;
    margin-left: 60px;
}
.back-arrow{
    padding-right: 40px;
    width: 30px;
    height: 30px;
    color: #101820;
    padding-bottom: 10px;
    cursor: pointer;
}
.hamburger {
    display: none;
}

.nav-bar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.nav-bar ul li{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar ul li a, .fa-user, #logout  {
    color: #101820;
    font-size: 20px;
    padding: 10px 25px;
    transition: 0.2s;
    text-decoration: none;
}

.nav-bar ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #101820;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-bar ul li a:hover::after{
    width: 100%;
}

.nav-bar ul li a:hover{
    color: #101820;
}

@media only screen and (max-width: 1320px) {
    header {
        padding: 0 510px 0px 0px;
    }
}

@media only screen and (max-width: 1100px) {
    .sub-menu-wrap{
        display: none;
    }
    .hamburger{
        display: block;
        cursor: pointer;
        margin-left: 300px;
    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background: #fefefe;
        margin: 6px 0;
    }

    .nav-bar {
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 75%;
        margin: auto;
        background: #11101b;
        transition: 0.5s;
        overflow: hidden;
    }

    .nav-bar.active{
        height: 370px;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 20px auto 0 auto;
        padding: 0;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    #user-icon {
        display: none;
    }

    #logout{
        display: inline-block;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 12px;
    }
    .profile{
        display: block;
    }
}

@media only screen and (max-width: 720px){
    .logo img {
        width: 60px;
    }
}

.photo{
    display: flex;
    width: 100%;
    height: 100%;
}

.request_details {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: #fefefe;
}
.right{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 500px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.right .menu p{
    font-size: 15px;
    margin: 0;
}
.right .menu{
    margin-top: 10px;
    margin-bottom: 20px;
}
.left{
    width: 50%;
    height: 100vh;
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.request_details form {
    width: 100%;
    min-height: 100%;
    /* padding: 0 100px; */
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="number"], input[type="url"], textarea, select {
	margin: 15px 0;
	display: block;
	width: 350px;
	height: 30px;
	border-radius: 30px;
	font-family: 'ABeeZee', sans-serif;
	font-size: 16px;
	padding-left:15px;
	background: none;
	border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #FEE715;
	color: white;
}

input[type="text"]:hover, input[type="number"]:hover, input[type="url"]:hover, textarea:hover, select:hover {
    border-bottom: 2px solid #ffffff;
}

input[type="number"]{
    display: inline;
    width: 150px;
	height: 30px;
}

input[type=number]::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

select {
    color: #FEE715;
    background-color: #101820;
}


.request_details p {
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 50px;
}

.request_details p a {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.1em;
}

a {
    text-decoration: none;
    color: #fefefe;
}

a:hover {
    color: #FEE715;
}


table {
    color: #f2f2f2;
    border-collapse: collapse;
    border: 2px solid #fee715;
    width: 90%;

    margin-bottom: 50px;
}

.com-table {
    width: 100%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    color: #11101b;
    background-color: #fee715;
    font-weight: bold;
}

tr:nth-child(even) {
    border: 2px solid #fee715;
    background-color: #11101b;
}

input[type="submit"] {
    width: 80px;
	height: 30px;
	background: #FEE715;
	border-radius: 30px;
	font-family: 'Bebas Neue', cursive;
	font-size: 20px;
	cursor: pointer;
}

/* start slide style  */

.main_slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    position: relative; /* Add position relative to the main container */
    
  }
  
  .slider-container {
    width: 100%;
    position: relative;
    margin-top: 200px;
  }
  
  .slider-container img {
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
    z-index: 1;
    width: 400px;
    height: 400px;
    right: 150px;
    left: 50px;
    bottom: 1px;
  }
  
  .slider-container img.active {
    opacity: 1;
  }
  
  .slider-container .slide-number {
    display: none;
  }
  
  .slider-controls {
    position: absolute;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 490px;
    left: 258px;
    bottom: 90px;
  }
  
  .slider-controls .prev,
  .slider-controls .next {
    color: #dfca13;
    text-align: center;
    cursor: pointer;
    user-select: none;
    margin-bottom: 230px;
    font-size: 30px;
    height: 30px;
  }
  
  .slider-controls .prev {
    float: left;
  }
  
  .slider-controls .next {
    float: right;
  }
  
  .slider-controls .prev.disabled,
  .slider-controls .next.disabled {
    color: #A1A19D ;
    cursor: no-drop;
  }
  
  .slider-controls .indicators {
    display: none;
  }
  
  .slider-controls .indicators ul {
    list-style: none;
    margin: 0;
    text-align: center;
  }
  
  .slider-controls .indicators ul li {
    display: inline-block;
    background-color: #f6f6f6;
    color: #333;
    font-weight: bold;
    height: 28px;
    width: 28px;
    border-radius: 4px;
    margin: 0 2px;
    line-height: 28px;
    cursor: pointer;
  }
  
  .slider-controls .indicators ul li.active {
    background-color: #dfca13;
    color: #fff;
  }

/* end start slide  */
.com-table{
    margin-right: 50px;
}
.log{
    position: absolute;
    bottom: 530px;
    left: 20px;
}
.back a{
    color: #11101b;
    font-size: 35px;
    cursor: pointer;
}
.back a:hover{
    color: white;
}

#average {
    margin: 10px 0;
}

#average span {
    color: #dfca13;
}

#average p {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.popup_menu {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    z-index: 9999;
  
    display: none;
    justify-content: center;
    align-items: center;
  }
  
  .popup_menu {
    left: 0;
  }
  
  .popup_content, .popup_menu .popup_content{
    width: 40%;
    height: 90%;
    color: #101820;
    background: linear-gradient(120deg, #FEE715,#9d8e04);
    border-radius: 10px;
    box-shadow: 5px 10px 18px #000;
    padding: 20px;
    text-align: center;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .popup_menu .popup_content img {
    width: 100%;
    height: 100%;
  }
  
  .popup_content::-webkit-scrollbar{
    width: 10px;
  }
  .popup_content::-webkit-scrollbar-thumb{
    background-color: #9d8e04;
    border-radius: 20px;
  }
  
  #open_menu {
    color: #fff;
    cursor: pointer;
    margin: 10px 0 20px 0;
  }
  
  .popup #close, .popup_menu #close_menu {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: relative;
    top: -320px;
    left: 20px;
    color: #FEE715;
    background-color: #101820;
    border-radius: 50%;
    box-shadow: 5px 10px 18px black;
  }

  @media only screen and (max-width: 280px) {

    .request_details {
        flex-direction: column;
    }

    .left {
        height: auto;
        margin-top: 270px;
        align-items: unset;
    }

    .log {
        bottom: 480px;
    }

    .slider-container img {
        width: 300px;
        height: 300px;
        right: 150px;
        left: 39px;
        bottom: 70px;
    }

    .slider-controls {
        width: 460px;
        left: 20px;
        bottom: 90px;
    }

    .slider-controls .prev, .slider-controls .next {
        margin-bottom: 240px;
        font-size: 30px;
        height: 30px;
    }

    .right {
        height: 130vh;
        margin-left: 0px;
        margin-top: 0px;
    }

    .popup_menu {
        width: 100%;
        height: 60%;
        top: unset;
    }

    .popup_content, .popup_menu .popup_content {
        width: 80%;
        height: 80%;
    }

  }

  @media only screen and (max-width: 388px) {

    .request_details {
        flex-direction: column;
    }

    .left {
        height: auto;
        margin-top: 270px;
        align-items: unset;
    }

    .log {
        bottom: 480px;
    }

    .slider-container img {
        width: 300px;
        height: 300px;
        right: 150px;
        left: 10px;
        bottom: 70px;
    }

    .slider-controls {
        width: 460px;
        left: 20px;
        bottom: 90px;
    }

    .slider-controls .prev, .slider-controls .next {
        margin-bottom: 240px;
        font-size: 30px;
        height: 30px;
    }

    .right {
        height: 130vh;
        margin-left: 0px;
        margin-top: 0px;
    }

    .popup_menu {
        width: 100%;
        height: 60%;
        top: unset;
    }

    .popup_content, .popup_menu .popup_content {
        width: 80%;
        height: 80%;
    }
}

  @media only screen and (min-width: 389px) and (max-width: 800px) {

    .request_details {
        flex-direction: column;
    }

    .left {
        height: auto;
        margin-top: 270px;
        align-items: unset;
    }

    .log {
        top: 100px;
    }

    .slider-container img {
        width: 300px;
        height: 300px;
        right: 150px;
        left: 10px;
        bottom: 70px;
    }

    .slider-controls {
        width: 460px;
        left: 20px;
        bottom: 310px;
    }

    .slider-controls .prev, .slider-controls .next {
        margin-bottom: 240px;
        font-size: 30px;
        height: 30px;
    }

    .right {
        margin-left: 0px;
        margin-top: 0px;
    }

    .popup_menu {
        width: 100%;
        height: 60%;
        top: unset;
    }

    .popup_content, .popup_menu .popup_content {
        width: 80%;
        height: 80%;
    }
}


  @media only screen and (min-width: 820px) and (max-width: 1000px) {

    .hamburger{
        margin-left: 561px;
    }

    .request_details {
        flex-direction: column;
    }

    .left {
        height: auto;
        margin-top: 270px;
        align-items: unset;
    }

    .log {
        top: 100px;
    }

    .slider-container img {
        width: 400px;
        height: 360px;
        right: 150px;
        left: 10px;
        bottom: 70px;
    }

    .slider-controls {
        width: 570px;
        left: 120px;
        top: 310px;
    }

    .slider-controls .prev, .slider-controls .next {
        margin-bottom: 240px;
        font-size: 30px;
        height: 30px;
    }

    .right {
        height: unset;
        margin-left: 0px;
        margin-top: 0px;
    }

    .popup_menu {
        width: 100%;
        height: 60%;
        top: unset;
    }

    .popup_content, .popup_menu .popup_content {
        width: 80%;
        height: 80%;
    }
}