@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #FEE715;
    width: 100%;
    z-index: 999;
    height: 200px;
}

.head {
    text-align: center;
}

.head h1 {
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
    font-size: 90px;
    letter-spacing: 0.1em;
    padding-top: 15px;
}
.head span {
    font-size: 32px;
    font-weight: 400;
    font-family: 'ABeeZee', sans-serif;
    line-height: 38px;
    margin-bottom: 40px;
}
section {
    width: 100%;
    min-height: 73.2vh;
    background: black;
}
.forget-password {
    text-align: center;
}
p {
    font-family: 'ABeeZee', sans-serif;
    font-size: 20px;
    color: white;
    padding-right:310px;
    padding-top: 100px;
}
input[type="email"] {
    width: 400px;
    height: 50px;
    margin: 10px 420px 0px 420px;
    background: #D9D9D9;
    border-radius: 30px;
    font-family: 'ABeeZee', sans-serif;
    font-size: 20px;
    padding-left: 15px;
}
button {
    width: 200px;
    height: 50px;
    background: #FEE715;
    border-radius: 30px;
    margin: 50px 545px 0px 545px;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    transition: all 0.5;
}
button:hover {
    width: 200px;
    height: 50px;
    background: white;
    border-radius: 30px;
    margin: 50px 545px 0px 545px;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    transition: all 0.5;
}
.logo {
    margin-right: 90%;
    margin-top: 187px;
}