*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'ABeeZee', sans-serif;
    list-style: none;
}
body {
    width: 100%;
}
header {
    width: 100%;
    height: 80px;
    background: #101820;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    /* border-radius: 100px; */
    position: fixed;
    z-index: 999;
    /* margin: 40px 5% 0 5%; */
}
.logo img{
    width: 80px;
}

.hamburger {
    display: none;
}

.nav-bar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}
.nav-bar ul li{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar ul li a, .fa-user, #logout  {
    color: #fefefe;
    font-size: 20px;
    padding: 10px 25px;
    transition: 0.2s;
    text-decoration: none;
}

.nav-bar ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #FEE715;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-bar ul li a:hover::after{
    width: 100%;
}

.nav-bar ul li a:hover{
    color: #FEE715;
}
.main{
    height: 100vh;
    background: linear-gradient(120deg, #FEE715,#9d8e04);
    background-color: #FEE715;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/home/imgs/pharaoh\ \(1\).png");
    background-repeat: no-repeat;
    background-position: center;
}

.contact_us{
    width: 100%;
    min-height: fit-content;
    background-color: #101820;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: repeat(2, 50%);
    font-family: 'ABeeZee', sans-serif;
    padding: 20px;
}

.contact_us .left {
    grid-row: 2;
    margin-left: 30px;
}

.contact_us .left a {
    text-decoration: none;
}

.contact_us .left a h3{
    font-family: 'Bebas Neue', cursive;
    color: #FEE715;
    text-transform: uppercase;
    display: inline;
}

.contact_us .info {
    grid-column: 3;
    grid-row: 1;
}

.contact_us .info h3{
    text-transform: uppercase;
    color: #FEE715;
    font-family: 'Bebas Neue', cursive;
}

.contact_us .info p {
    color: white;
}

.contact_us .info a {
    text-decoration: none;
    color: #FEE715;
}

.contact_us .info a:hover {
    color: white;
}

.contact_us img {
    width: 66px;
    height: 40px;
}

.privacy {
    grid-column: 3;
}

footer {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;

    background-color: #101820;

    display: flex;
    align-items: center;
    justify-content: center;
    
    position: fixed;
    bottom: 50px;
    right: 50px;
    transition: .5s ease-out;
}

footer i {
    text-decoration: none;
    color: #FEE715;
}

footer:hover i{
    transform: scale(1.2);
}