* {
    margin: 0px;
    padding: 0px;
}

nav {
    background-color: rgba(16, 24, 32, 1);
    color: white;
    display: grid;
    grid-template-columns: 120px 150px 815px 100px 100px 100px 100px;
    grid-template-rows: 70px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

nav .duck_icon img {
    width: 60px;
    height: 40px;
}

nav .go {
    justify-self: center;
    text-align: center;
}

nav .go a {
    color: white;
    text-decoration: none;
}

nav .go a:hover {
    color: rgba(254, 231, 21, 1);
}

nav .go .F_s {
    font-family: 'Bebas Neue', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.1em;
    text-align: center;
}

nav .go .S_s {
    font-family: 'ABeeZee', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0.1em;
}

nav .search_icon {
    margin-left: 95%;
}

nav .home {
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}

nav .home a {
    position: relative;
    color: white;
    text-decoration: none;
}

nav .home a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgba(254, 231, 21, 1);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

nav .home a:hover {
    color: rgba(254, 231, 21, 1);
}

nav .home a:hover::before {
    transform: scaleX(1);
}

nav .about a {
    position: relative;
    color: white;
    text-decoration: none;
}

nav .about a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgba(254, 231, 21, 1);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

nav .about a:hover {
    color: rgba(254, 231, 21, 1);
}

nav .about a:hover::before {
    transform: scaleX(1);
}

nav .hang a {
    position: relative;
    color: white;
    text-decoration: none;
}

nav .hang a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgba(254, 231, 21, 1);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

nav .hang a:hover {
    color: rgba(254, 231, 21, 1);
}

nav .hang a:hover::before {
    transform: scaleX(1);
}

nav .about {
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}

nav .hang {
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}